.header-bar {
    padding-top:2px;
    padding-bottom:5px;
    background: #002a5f;
    text-align: left;
    height: 80x;
}

.header-tag {
    display: inline-block;
    width:400px;
    color:#fff;
    font-size: 22pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.header-img {
    display: inline-block;
    height:75px;
    top:10px;
    padding-right:30px;
    padding-left:20px;
    vertical-align: middle;
}

.username {
    display: inline-block;
    text-align: right;
    color:#fff;
    top: -20px;
    padding-right: 50px;
}

