.header-bar {
    padding-top:2px;
    padding-bottom:5px;
    background: #002a5f;
    text-align: center;
    height: 80x;
}

.header-tag {
    display: inline-block;
    width:400px;
    color:#fff;
    font-size: 42pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    vertical-align: middle;
    top: 15px;
}

.header-img {
    display: inline-block;
    height:100px;
    padding-right:20px;
    position: relative;
    left: -30px;
    vertical-align: middle;
}

.username {
    display: inline-block;
    text-align: right;
    color:#fff;
    top: -20px;
    padding-right: 50px;
}

.confidential {
    display: inline-block;
    color: #bbb;
    font-size: 18pt;
    vertical-align: middle;
    top: 15px;
}
.bugcontact {
    color: #999;
}

.bugcontact a {
    color: #ddd
}

.bugcontact a:hover {
    color: #FFF;
}

.rightcol {
    top:10px;
}

/* start of desktop styles */

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
        .header-bar {
            padding-top:2px;
            padding-bottom:5px;
            height: 100x;
        }
        .header-tag {
            width:350px;
            font-size: 36pt;
            top: 15px;
        }
        .header-img {
            height:100px;
            position: relative;
            left: -30px;
        }
        .confidential {
            font-size: 14pt;
        }
        
    }
    
    @media screen and (max-width: 767px) {
    /* start of medium tablet styles */
        .header-bar {
           padding:0px;
           height: 100x;
        }
        .header-tag {
            width:250px;
            font-size: 32pt;
            top: 15px;
        }
        .header-img {
            height:100px;
            position: relative;
            left: 0px;
        }
        .confidential {
            font-size: 14pt;
            position: relative;
            left: -10px;
        }
        .bugcontact {
            display: none;
        }
    
    }

    
    @media screen and (max-width: 635px) {
        /* start of phone styles */
        .header-tag {
            width:300px;
            color:#fff;
            font-size: 22pt;
            top: 20px;
        }
        .header-img {
            height:80px;
            position: relative;
            left: 0px;
        }
        .confidential {
            font-size: 14pt;
            position: relative;
            left: -40px;
        }
        .bugcontact {
            display: none;
        }

    }

    @media screen and (max-width: 479px) {
    /* start of phone styles */
        .header-tag {
            width:100px;
            color:#fff;
            font-size: 22pt;
            top: 6px;
            left: -20px;
        }
        .header-img {
            height:60px;
            position: relative;
            left: 0px;
        }
        .confidential {
            font-size: 14pt;
            position: relative;
            left: -40px;
            top: -10px;
        }
        .bugcontact {
            display: none;
        }

    }