.header-bar {
    padding-top:2px;
    padding-bottom:5px;
    background: #002a5f;
    text-align: center;
    height: 80x;
}

.header-tag {
    display: inline-block;
    width:400px;
    color:#fff;
    font-size: 42pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    vertical-align: middle;
    top: 15px;
}

.header-img {
    display: inline-block;
    height:100px;
    padding-right:20px;
    padding-left:20px;
    vertical-align: middle;
}

.username {
    display: inline-block;
    text-align: right;
    color:#fff;
    top: -20px;
    padding-right: 50px;
}

.confidential {
    display: inline-block;
    color: #bbb;
    font-size: 18pt;
    vertical-align: middle;
    top: 15px;
}
.bugcontact {
    color: #999;
}

.bugcontact a {
    color: #ddd
}

.bugcontact a:hover {
    color: #FFF;
}

.rightcol {
    top:10px;
}