<div class="header-bar" >
    <div class="container">
      <div class="row">
        <a href="/" class="col-2"><img class="header-img" alt="Allen Matkins" src="../../assets/AMStackedLogo.png"></a>
        <h1 class="header-tag col-7">Personnel Directory</h1>
        <div class="col-3 rightcol">
          <span class="confidential">Firm Confidential</span><br>
          <span class="bugcontact">Is there an error? <a href="mailto:ML_">Tell Us</a></span>
        </div>
      <!--<div class="username d-md-block d-none">User name</div>-->
      </div>
    </div>
  
</div>
