<div class="container">
    
   
    <div *ngIf="person">
        <div class="userphoto">
          <img src="http://amjabber/nophoto.gif" id="{{person.displayname}}" width="112px;" />
        </div>
        <div class="userdetails" > 
          <div class="username">
                  <strong>{{person.displayname}}</strong>
              &nbsp;&nbsp;<a href="mailto:{{person.emails[0].emailaddress}}" id="{{person.displayname}}" >
                <img src="../../assets/email.jpg" width="20px;" ></a>
                &nbsp;&nbsp;<a href="http://crmam01/InterAction/relationship-overview-person?contactId={{person.interactionid}}" id="{{person.interactionid}}" >
                  <img src="../../assets/ia.jpg" width="20px;"></a>
                &nbsp;&nbsp;<a routerLink="/people">back</a>
          </div>

          <div class="userinfo">
              <!--<div id="jobtitle" [innerHTML]="getPersonTitles(person.pkpersonid, person.jobtitle, person.practices.practicename)" ></div>  -->
              <div id="jobtitle" [innerHTML]="getPersonTitles(person)" ></div>  

              <!-- to be added: person.attorneypractices.attorneypracticeid when this is fixed in API server -->
            {{person.officelocation.officelocationcode}} Office Number: {{person.officenumber}}<br>
            <div id="phonenumber" class="phonenumber" [innerHTML]="getPhone(person)"></div>
            <div id="assistant" [innerHTML]="writeAssistant(person)" ></div>
            TK Number: {{person.timekeepernumber}}<br>
            <div id="education" [innerHTML]="getEducation(person.pkersonid)"></div>
        
          </div>
        </div>  
    </div>
 
</div>



