<div class="container">
    <div *ngIf="person">
        <div class="col-12 darkSelect">         
          <div class="userphoto">
            <img src="http://amjabber/nophoto.gif" width="112px;" />
          </div>
          <div class="userdetails" > 
            <div class="username">
                <strong>{{person.displayname}}</strong> ID: {{people.pkpersonid}}
                &nbsp;&nbsp;<a href="mailto:{{people.emails[0].emailaddress}}" id="{{people.displayname}}" >
                  <img src="../../assets/email.jpg" width="20px;" ></a>
                  &nbsp;&nbsp;<a href="http://crmam01/InterAction/relationship-overview-person?contactId={{people.interactionid}}" id="{{people.interactionid}}" >
                    <img src="../../assets/ia.jpg" width="20px;"></a>
            </div>

            <div class="userinfo">
                <div id="jobtitle" [innerHTML]="getPersonTitles(people.pkpersonid, people.jobtitle, people.practices)" ></div>  
                <!-- to be added: person.attorneypractices.attorneypracticeid when this is fixed in API server -->
              Phone: {{getPhone(people.pkpersonid)}}<br>
              Office: {{people.officelocation.officelocationname}}<br>
              <div id="assistant" [innerHTML]="writeAssistant(people.pkpersonid)" ></div>
              TK Number: {{people.timekeepernumber}}<br>
              {{people.officelocation.officelocationcode}} Office Number: {{people.officenumber}}
              <div id="education" [innerHTML]="getEducation(people.pkersonid)"></div>
          
            </div>
          </div>
        </div>   
    </div>
</div>



