/*  people.compenent.css  */ 
.person-list {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.container { 

  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left:-30px;
  margin-right:0px;
  padding-left: 0px;
  padding-right: 0px;
}

.col {
  max-width: 450px;
  padding-left: 0px;
  padding-right: 0px;
}


.staffdept {
  padding-top: 10px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE Edge 12+ CSS styles go here */ 
  .people {
    margin: 0 0 0 0;
    padding: 0em 0em 0em 0em;
    height: 250px;
  }
}

.people {
  margin: 0 0 2em 0;
  padding: 1px;
  min-width: 440px;
}


.people.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.people a.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.people:hover {
  color: rgb(white);
  background-color: #efefef;
}
.people .text {
  position: relative;
  top: -3px;
}

.PaginationBar {
  display: block;
  height: 70px;
}

.pagecontrols {
  float: left;
}
.numoftotal {
  float: right;
}

.practice-titles {
  display: block;
  max-width:300px;
}

.locationbar {
  display: inline-block;
  margin-bottom: 2px;
}

.CPRbar {
  display: inline-block;
  margin-bottom: 2px;
}

.rolebar {
  display: block;
  font-size: 6pt;
  margin-bottom: 10px;
  top: -10px;
}

.back {
  position: absolute;
  top: -50px;
  float: left;
  left: 350px;
}

.backbutton {
  font-size: 16pt;
  font-weight: bold;
}

.username {
  font-size:16pt;
  font-weight: bold;
  line-height:120%;
}

.userphoto {
  display: inline-block;
  vertical-align: top;
  padding-right:10px;
}
.jobdetails {
  display: inline-block;
  width: 200px;
}

.contacticons {
  display: inline-block;
  width: 120px;
  vertical-align: top;
}
.userdetails {
  display: inline-block;
}

.leftColumn .rightcolumn {
  display: inline-block;
}

.emaillink { 
  display: inline;
}

.searchbar {
  float: right; 
  display: block;
}

.relatedPerson {
  text-decoration: underline;
  color: blue;
  border: none;
}

.button {
  box-sizing: none;
}

.filterlable { 
  position: relative;
  width:200px;
  top: 3px;
  left:10px;
  padding-right:5px;
  display: inline-block;
}

.dropdownbox {
  padding: 5px 5px 1px 1px;
  position: relative;
  width:200px;
  top: 3px;
  left:10px;
  padding-left:5px;
  padding-bottom:10px;
  display: inline-block;
  /*
  background-color: #999;
  border: #999;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-top-width: thin;
  border-top-style: solid;
  border-left-width: thin;
  border-left-style: solid;
  border-right-width: thin;
  border-right-style: solid;
  */
}

.otherfilters {
  padding-top: 10px;
}