/*  people.compenent.css  */ 

/* PeopleComponent's private CSS styles */

.people {
  margin: 0 0 2em 0;
  padding: 2px;
  min-width: 500px;
}

.people.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.people a.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.people:hover {
  color: rgb(white);
  background-color: #efefef;
}
.people .text {
  position: relative;
  top: -3px;
}

.PaginationBar {
  display: block;
  padding-top:10px;
  height: 70px;
}

.pagecontrols {
  float: left;
}
.numoftotal {
  float: right;
}

.practice-titles {
  display: block;
  max-width:300px;
}

.locationbar {
  display: inline-block;
  margin-bottom: 2px;
}

.CPRbar {
  display: inline-block;
  margin-bottom: 2px;
}

.rolebar {
  display: block;
  font-size: 6pt;
  margin-bottom: 10px;
  top: -10px;
}



.person-list {
  display: block;
  margin-top: 10px;

}

.username {
  font-size:18pt;
  font-weight: bold;
  line-height:120%;
}

.userphoto {
  display: inline-block;
  vertical-align: top;
  padding-right:10px;
}

.userdetails {
  display: inline-block;
}

.leftColumn .rightcolumn {
  display: inline-block;
}

.emaillink { 
  display: inline;
}

.searchbar {
  float: right; 
  display: block;
}

.relatedPerson {
  text-decoration: underline;
  color: blue;
  border: none;
}

.button {
  box-sizing: none;
}