/*  people.compenent.css  */ 

/* PeopleComponent's private CSS styles */

  .people {
    margin: 0 0 2em 0;
    padding: 2px;
    min-width: 500px;
  }

  .people.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .people a.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .people:hover {
    color: rgb(white);
    background-color: #002a5f;
  }
  .people .text {
    position: relative;
    top: -3px;
  }

  .locationbar {
    display: block;
    margin-bottom: 15px;
  }

  .rolebar {
    display: block;
    font-size: 6pt;
    margin-bottom: 10px;
  }

  .small-font {
    font-size: 6pt;
  }

  .person-list {
    display: block;
    margin-top: 10px;

  }

  .userphoto {
    display: inline-block;
    vertical-align: top;
    padding-right:10px;
  }

  .userdetails {
    display: inline-block;
  }

  .leftColumn .rightcolumn {
    display: inline-block;
  }

  .emaillink { 
    display: inline;
  }

  .NextPrevBar {
    float: right;
    display: block;
    margin-top:10px;
  }