<div id="filters">
    <div class="searchbar col-md-7 col-sm-12">
        <input *ngIf="!mobile" class="form-control searchbar" id="SearchBar" placeholder="Search by keyword" value="" autofocus
        [(ngModel)]="searchTerm" (input)="searchTerm ? addQueryParams({search: searchTerm}) : addQueryParams({search: null})">
        <div *ngIf="mobile" class="input-group col">
            <input type="text" class="form-control" placeholder="Search by keyword" #search>
            <div class="input-group-append">
              &nbsp;<button class="btn btn-outline-secondary" type="button" (click)="onSearch(search.value)">Search</button>
            </div>
          </div>
        <div class="btn-group-toggle rolebar d-none d-md-block" data-toggle="alphabuttons">
            <label class="normal-font btn btn-outline-secondary" [class.active]="!alpha" id="alphaAll">
                <input type="radio" name="options" [(ngModel)]="alpha" [value]="" value="" class="generalbtn normal-font"
                    (click)="addQueryParams({alpha: null, role: null, city: null, page: null, search: null});searchTerm = null">&nbsp;Clear&nbsp;
            </label>
            <label class="normal-font btn btn-outline-secondary blur" [class.active]="alpha == a" *ngFor="let a of alphabets">
                <input type="radio" name="options" class="generalbtn normal-font" [(ngModel)]="alpha" [value]="a" value="{{a}}"
                    (click)="addQueryParams({alpha: a, page: null})">&nbsp;{{ a }}
            </label>
        </div>
        <label class="normal-font btn btn-outline-secondary active" (click)="clearQueryParams()">&nbsp;Clear
            <span *ngIf="!mobile" >All</span>&nbsp;</label>
</div>

    <div class='optionsbar col-md-5 d-md-block d-none'>
        <div id="basicfilter">
            <div class="btn-group-toggle locationbar d-none d-sm-block cityfilter" data-toggle="locationbuttons">
                <label class="normal-font btn btn-outline-secondary" [class.active]="!cityid" id="city6">
                    <input type="radio" name="options" id="option1" class="generalbtn" [(ngModel)]="cityid" value=""
                        [value]="" (click)="addQueryParams({city: null, page: null})">&nbsp;All&nbsp;
                </label>&nbsp;
                <label class="normal-font btn btn-outline-secondary blur" [class.active]="cityid == 4" id="city1">
                    <input type="radio" name="options" id="option2" class="generalbtn" [(ngModel)]="cityid" [value]="4"
                        value="4" (click)="addQueryParams({city: 4, page: null})">&nbsp;CC&nbsp;
                </label>&nbsp;
                <label class="normal-font btn btn-outline-secondary blur" [class.active]="cityid == 1" id="city2">
                    <input type="radio" name="options" id="option3" class="generalbtn" [(ngModel)]="cityid" [value]="1"
                        value="1" (click)="addQueryParams({city: 1, page: null})">&nbsp;LA&nbsp;
                </label>&nbsp;
                <label class="normal-font btn btn-outline-secondary blur" [class.active]="cityid == 2" id="city3">
                    <input type="radio" name="options" id="option4" class="generalbtn" [(ngModel)]="cityid" [value]="2"
                        value="2" (click)="addQueryParams({city: 2, page: null})">&nbsp;OC&nbsp;
                </label>&nbsp;
                <label class="normal-font btn btn-outline-secondary blur" [class.active]="cityid == 3" id="city4">
                    <input type="radio" name="options" id="option5" class="generalbtn" [(ngModel)]="cityid" [value]="3"
                        value="3" (click)="addQueryParams({city: 3, page: null})">&nbsp;SD&nbsp;
                </label>&nbsp;
                <label class="normal-font btn btn-outline-secondary blur" [class.active]="cityid == 5" id="city5">
                    <input type="radio" name="options" id="option6" class="generalbtn" [(ngModel)]="cityid" [value]="5"
                        value="5" (click)="addQueryParams({city: 5, page: null})">&nbsp;SF&nbsp;
                </label>&nbsp;&nbsp;


            </div>
            <div id="staffdept" class="row">
                <label class="filterlable" for="staffdept">Roles or Department:&nbsp;</label>
                <div class="dropdownbox">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{staffDeptStatus()}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="staffDeptId = 0; addQueryParams({staffdept: null, page: null})">All</a>
                            <a class="dropdown-item" *ngFor="let s of staffDept" (click)="staffDeptId = s.id; addQueryParams({staffdept: s.id, page: null}); setTimekeeper(s.id)">{{s.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="timekeeper" class="row " >
                <label class="filterlable" for="timekeeperdept">Timekeeper Dept:&nbsp;&nbsp;</label>
                <div class="dropdownbox">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{timekeeperStatus()}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="timekeeperDeptId = null; addQueryParams({timekeeperdept: null, page: null})">All</a>
                            <span *ngIf="timekeeperon">
                                    <a class="dropdown-item" *ngFor="let t of timekeeperDept" (click)="timekeeperDeptId = t.id; addQueryParams({timekeeperdept: t.id, page: null})">{{t.name}}</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="othercheck" class="row checkbox otherfilters">
                <label class="col-md-3" for="">Other:</label>
                <div class="col-md-8">
                    <label><input type="checkbox" [value]="3" (change)="includeOthers(3)">&nbsp;CPR Certified&nbsp;</label>
                    <label><input type="checkbox" [value]="2" (change)="includeOthers(2)">&nbsp;Notary&nbsp;</label>
                </div>
            </div>
        </div>
        <br clear=all>


    </div>
</div>
<div class="person-list">

    <div class="PaginationBar">
        <pagination-controls class="pagecontrols" (pageChange)="pageNumber = $event;addQueryParams({page: pageNumber})"></pagination-controls>
        <pagination-template class="numoftotal" #p="paginationApi">Items {{limit * (p.getCurrent() - 1) + 1}} -
            {{Math.min(limit * p.getCurrent(),p.getTotalItems())}} of {{ p.getTotalItems() }}</pagination-template>
    </div>
    <br clear=all>
    <div class="container">

        <div class="row">
            <span *ngFor="let person of people | individual: individualid | cityArray : cityidArray | city: cityid | role: roleid | alpha: alpha | search: searchTerm | roleArray : roleidArray | staffDept : staffDeptId | timekeeperDept: timekeeperDeptId | other: otherArray | paginate: { itemsPerPage: limit, currentPage: pageNumber };
                let i = index;
                trackBy: person?.pkpersonid"
                #nGForArray>
                <div class="col">
                    <div *ngIf="filtered?.length == 1" class="back"><button class="backbutton" (click)="goBack()">Back</button></div>
                    <div class="people">
                        <div class="userphoto">
                            <div [innerHTML]="getPhoto(person.photo)"></div>
                            <!--<img src="http://amjabber/AD/{{person.photofilename}}" id="{{person.displayname}}"
                                width="112px;" />-->
                        </div>
                        <div class="userdetails">
                            <div class="username">
                                <strong>
                                    <button class="username btn btn-outline-secondary blur" (click)="individualid = person.pkpersonid; addQueryParams({ind: individualid})"
                                        data-toggle="tooltip" title="see more about {{person.displayname}}">
                                        {{person.firstname}} {{person.lastname}}</button>
                                    <!--   {{person.pkpersonid}}  -->
                                </strong>&nbsp; {{getPrefName(person)}} <br>

                            </div>

                            <div class="userinfo">
                                <div class="jobdetails">
                                    <div id="jobtitle" [innerHTML]="getTitles(person)"></div>
                                </div>
                                <div class="contacticons">

                                    <a *ngIf="person.emails[0]" href="mailto:{{person.emails[0].emailaddress}}" id="{{person.displayname}}">
                                        <img src="../../assets/email.jpg" data-toggle="tooltip" title="email {{person.displayname}}"
                                            width="20px;"></a>
                                    &nbsp;<a href="http://crmam01/InterAction/relationship-overview-person?contactId={{person.interactionid}}"
                                        id="{{person.interactionid}}">
                                        <img src="../../assets/ia.jpg" data-toggle="tooltip" title="InterAction" width="20px;"></a>
                                    <span *ngIf="person.hasbiography">&nbsp;&nbsp;<a href="{{person.biographyurl}}" id="website bio for {{person.displayname}}"
                                            target="_blank">
                                            <img src="../../assets/web.png" data-toggle="tooltip" title="Web Bio" width="20px;"></a></span>
                                    &nbsp;<span class="__web-inspector-hide-shortcut__" [innerHTML]="ifCPR(person)"></span>
                                    &nbsp;<span class="__web-inspector-hide-shortcut__" [innerHTML]="ifNotary(person)"></span>
                                </div><br>
                                {{person.officelocation.officelocationcode}} Office Number:
                                <a href="http://marketing/utils/personnel2/MapTest.asp?hi=1&h=o{{person.officenumber}}&off_id={{person.officefloorid}}"
                                    class="__web-inspector-hide-shortcut__">{{person.officenumber}}</a><br>

                                <!-- officeFloor(person.officefloorid) is the function to get he off_id but not working yet -->
                                <div id="phonenumber" class="phonenumber" [innerHTML]="getPhone(person)"></div>

                                <span *ngIf="person.personrelationship && !person.supportrelationships" id="assistant">
                                    <span *ngFor="let related of person.personrelationship"><span *ngIf="related.relatedpersonid">
                                            Assistant: <a routerLink="" (click)="individualid = related.relatedpersonid; addQueryParams({ind: individualid})">
                                                {{getPerson(related.relatedpersonid)}}</a><br></span>
                                    </span>
                                </span>
                                <span *ngIf="person.personrelationship && person.supportrelationships" id="secretary">
                                    <strong>Supports:</strong> <span *ngFor="let related of person.personrelationship">
                                        <a routerLink="" (click)="individualid = related.supportedpersonid; addQueryParams({ind: individualid})">
                                            {{getPerson(related.supportedpersonid)}}</a><br>
                                    </span>
                                </span>
                                <div *ngIf="person.isattorney" [innerHTML]="getBAR(person)"></div>
                                TK #:{{person.timekeepernumber}}

                                <!--<div *ngIf="filtered?.length == 1">
                                    <strong>More:</strong><br>
                                    <div id="Education" [innerHTML="getEducation(person)"]></div>
                                </div>-->
                            </div>


                        </div>
                    </div>
                </div>
            </span>
        </div>
        <div class="PaginationBar">
            <pagination-controls class="pagecontrols" (pageChange)="pageNumber = $event;addQueryParams({page: pageNumber})"></pagination-controls>
            <pagination-template class="numoftotal" #p="paginationApi">Items {{limit * (p.getCurrent() - 1) + 1}} -
                {{Math.min(limit * p.getCurrent(),p.getTotalItems())}} of {{ p.getTotalItems() }}</pagination-template>
        </div>
    </div>

</div>
<!-- 
<pagination-template #p="paginationApi"
                     (pageChange)="pageChange.emit($event)">
{{p.getTotalItems()}}
        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
            <a *ngIf="!p.isFirstPage()" (click)="p.previous()">  </a>
        </div>

        <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
            <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                <span>{{ page.label }}</span>
            </a>
            <div *ngIf="p.getCurrent() === page.value">
                <span>{{ page.label }}</span>
            </div>
        </div>

        <div class="pagination-next" [class.disabled]="p.isLastPage()">
            <a *ngIf="!p.isLastPage()" (click)="p.next()">  </a>
        </div>

</pagination-template>
 -->