/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    zoom: .75;
}

.main-body {
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:20px;
    font-family: Arial, Helvetica, sans-serif;
}

.app-root {
    width: 100%;
    padding-left:0px;
    padding-right:0px; 
}

.footer-bar {
    padding:10px;
    background: #002a5f;
    text-align: left;
    color:#ccc;
    font-size:10pt;
}

.align-right {
    float: right;
}

body, input[text], button {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12pt;
  }

.person-scrollbar {
    height: 500px;
}

.person-detail {
    display: inline-block;
}

.lightgray {
    background-color: #f9f9f9;
}

.generalbtn {
    display: inline-block;
    padding-right: 5px;
}

.large-font {
    font-size: 14pt;
}

.normal-font {
    font-size: 12pt;
}

.med-font {
    font-size: 10pt;
}

.small-font {
    font-size: 8pt;
  }

.xsmall-font {
    font-size: 4pt;
}

.btn {
    padding: 0;
    border: none;
    /*font: inherit;*/
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
}

.mobile-menu {
    display: none;
}


@media only screen and (max-width: 600px){
    .mobile-menu { 
        display: block;
        font-size: 16pt;
    }
}
   

 